*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and  (max-width: 600px) {
    .phone-input-container {
      width: 430px !important;
      padding-left: 0px !important;
      
    }
    .phone-input {
        width: 350px !important;
        margin-left: 30px !important;
        
      }
      .phone-button{
        margin-right: 10px !important;
      }
}  

@media only screen and  (max-width: 500px) {
    .phone-input-container {
      width: 380px !important;
      
    }
    .phone-input {
        width: 295px !important;
        margin-left: 28px !important;
        
      }
      .phone-button{
        margin-right: 5px !important;
      }
} 
@media only screen and  (max-width: 480px) {
    .phone-input-container {
      width: 370px !important;
      
    }
    .phone-input {
        width: 290px !important;
        margin-left: 30px !important;
        
      }
      .phone-button{
        margin-right: 5px !important;
      }
} 
@media only screen and  (max-width: 400px) {
    .phone-input-container {
      width: 340px !important;
      display: flex !important;
      
    
    }
    .phone-input {
        width: 258px !important;
        margin-right: 10px !important;
        margin-left: 55px !important;
        
      }
      .phone-input:focus{
        border: 3px solid #27477d !important;
        box-shadow: none !important;
    }
    
} 
@media only screen and  (max-width: 360px) {
    .phone-input-container {
      width: 330px !important;
      display: flex !important;
      
    
    }
    .phone-input {
        width: 240px !important;
        margin-right: 10px !important;
        margin-left: 55px !important;
        
      }
      .phone-input:focus{
        border: 3px solid #27477d !important;
        box-shadow: none !important;
    }
    
} 
